*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1100px;
    margin: auto;
}
#bg{
    height: 657px;
    background-image: url(./bg1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mp{
    font-size: 30px ;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
  
  
}
#inp{
    margin-top: 30px;
    font-size: 32px;
    width: 500px;
    height: 60px;
    background-color:#90b1b8;
    border: none;
    border-radius: 15px;
    
}
#btn {
    font-size: 30px;
 margin-top: 30px;
 background-color:bisque;
 height: 60px;
 width: 120px;
 border: none;
  border-radius: 15px;
}

